{{ $arg := .Get 0 }}
{{ $dataFile := index .Site.Data $arg }}
{{ $sep := "," }}
{{ $.Scratch.Set "count" 0 }}

<table>
    <thead>
      <tr>
      <th>IP Addresse</th>
      <th>Event ID</th>
      <th>Antall påloggings forsøk</th>
      <th>Land</th>
      </tr>
    </thead>
    <tbody>
        {{ $url := "https://githubpages.z1.web.core.windows.net/" }}
        {{ $sep := "," }}
        {{ range $index, $r := getCSV $sep $url }}
            {{ if ne $index 0 }}
             <tr>
        <td>{{ index $r 0 }}</td>
        <td>{{ index $r 1 }}</td>
        <td>{{ index $r 2 }}</td>
        <td>{{ index $r 3 }}</td>
      </tr>
      {{ end }}
    {{ end }}
    </tbody>
  </table>